@import url("//unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css");

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin-top: 15%;
    margin-left: 10%;
    align-content: center;
}

.div_1 {
    width: 30%;
    background: rgba(188, 220, 248, 0.25);
    border-radius: 40px;
    font-family: 'Nunito', sans-serif;
}

.div_2 {
    width: 60%;
    background: rgba(188, 220, 248, 0.25);
    border-radius: 40px;
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: Montserrat, sans-serif;
}

.addition {
    margin-left: 8%;
    margin-right: 30%;
    margin-top: 5%
}

.material {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(13, 118, 194, 0.25);
    border-radius: 20px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    font-family: 'Nunito', sans-serif;
}

.downloads {
    margin-left: 5%;
}

.downloads_document {
    margin-left: 3%;
}

.doc-weight {
    margin-left: 5%;
}

.blocks {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.chart {
    margin-top: 3%
}

.timetable {
    width: 90%;
    background: rgba(188, 220, 248, 0.25);
    border-radius: 40px;
    margin: 5% auto;
    font-family: 'Nunito', sans-serif;
}

.filter {
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: -5%;
    font-family: 'Nunito', sans-serif;
}

.schedule {
    background: #FFFFFF;
    border-radius: 25px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5%;
    font-family: 'Nunito', sans-serif;
}

.time {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #023562;
}

.karma-text {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: rgb(74, 144, 226);
}

.studcoin-text {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: rgb(38, 224, 127);
}

a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.hover-2 {
    padding: 10px;
}

.hover-2:before, .hover-2:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
}

.hover-2:before {
    border-width: 2px 0 2px 0;
    transform: scaleX(0);
}

.hover-2:after {
    border-width: 0 2px 0 2px;
    transform: scaleY(0);
}

.hover-2:hover:before, .hover-2:hover:after {
    transform: scale(1, 1);
}

