{% extends 'dashboard/course-base.html' %}
{% block title %}
Удаление курса
{% endblock %}
{% load static %}
{% load poll_extras %}
{% block main_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block content %}
<link href="{% static 'css/blog/create.css' %}" rel="stylesheet">
<div class="marginer">

</div>
<div class="content-section container bg-blue w-75 create-form">
    <form method="POST">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Question</legend>
            <h2>Are you sure you want to delete the "{{ course.course_name }}?" </h2>
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
            <a href="{ url 'course-detail' course.id }" class="btn btn-outline-secondary">Cancel</a>
        </div>

    </form>
</div>
{% endblock content %}
{% endblock %}