{% extends 'blog/base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
{% load static %}
{% load poll_extras %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="{% static 'dashboard/css/course-types.css' %}" rel="stylesheet">
<script src="{% static 'dashboard/js/buttons.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<section class="d_main ">
    <div class="dashboard_nav container d-flex ">

        <button>
            Мои курсы
        </button>

        <button>
            Вакансии
        </button>

        {% if request.user|has_group:"Students"%}
        <button>
            Стать ментором
        </button>
        {%endif%}

        {% if request.user|has_group:"Mentors" %}
        <button>
            <a href="{% url 'course_reg' %}" style="text-decoration: none;color: black;">
                Созданные курсы
            </a>
        </button>
        {%endif%}

        {% if request.user|has_group:"Mentors" %}
        <button>
            <a href="{% url 'course-create' %}" style="text-decoration: none;color: black;">
                Создать курс
            </a>
        </button>
        {%endif%}

    </div>
    <div class="container">

        <form action="" class="search-bar">
            <input type="search" name="search" pattern=".*\S.*" required>
            <button class="search-btn" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <div class="container">
        <h1>Направления</h1>
    </div>
    <div class="dash_box container align-items-center ">
        <div class="dash_card orange">
            <div class="card_info">
                <p class="card_name">1Программирование</p>
                <a href="{% url 'courses'%}" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card green">
            <div class="card_info">
                <p class="card_name">2Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card red">
            <div class="card_info">
                <p class="card_name">3Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card red">
            <div class="card_info">
                <p class="card_name">4Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card purple">
            <div class="card_info">
                <p class="card_name">5Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card purple">
            <div class="card_info">
                <p class="card_name">6Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card pink">
            <div class="card_info">
                <p class="card_name">7Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card pink">
            <div class="card_info">
                <p class="card_name">8Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card pink">
            <div class="card_info">
                <p class="card_name">8Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <button id="more" class="go_"> Показать больше направлений</button>
    </div>

</section>
{% endblock content %}