{% extends 'dashboard/course-base.html' %}
{% block title %}
Courses
{% endblock %}
{% block main_content %}
{% load static %}
{% load poll_extras %}

<link href="{% static 'dashboard/css/courses.css' %}" rel="stylesheet">

<script src="{% static 'dashboard/js/buttons.js' %}"></script>




    <div class="container">
        <h3>Курсы по программированию</h3>
    </div>
    <div class="dash_box align-items-center ">
        {% for cc in courses %}
        <div class="dash_card">
            <div class="gc-1">
                <img class="course-img" src="{{cc.image.url }}">
                <p class="course-cost">{{cc.lesson_cost}} тг/час</p>
            </div>
            <div class="gc-2">
                <div class="course-desc">
                    <p>{{cc.course_name}}</p>
                </div>
                <p class="author_name">{{cc.author}}</p>

                <div class="link-tags">
                    <a>#C++</a>, <a>#Java</a>
                </div>
                <div class="calendar">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <p>{{cc.date_lesson}} {{cc.start_time}}</p>
                </div>

                <div class="time">
                    <i class="fa fa-clock" aria-hidden="true"></i>
                    <p>{{cc.duration}}</p>
                </div>
            </div>
            <div class="gc-2 gr-2 course-link">
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="text-align: center">
        <button id="more" class="go_" data="курсы"> Показать больше курсов</button>
    </div>

{% endblock main_content %}