{% extends 'dashboard/course-base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% load static %}
{% load poll_extras %}
{% block main_content %}

<link href="{% static 'dashboard/css/course-types.css' %}" rel="stylesheet">
<script src="{% static 'dashboard/js/buttons.js' %}"></script>


    <div class="container">
        <h1>Направления</h1>
    </div>
    <div class="dash_box container align-items-center ">
        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">1Программирование</p>
                <a href="{% url 'courses'%}" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">2Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">3Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">4Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">5Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">6Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">7Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">8Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>

        <div class="dash_card">
            <div class="card_info">
                <p class="card_name">8Программирование</p>
                <a href="#" class="go_"> GO! </a>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <button id="more" class="go_" data="направления"> Показать больше направлений</button>
    </div>

{% endblock main_content %}