{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<head>
    <meta charset="utf-8">
    <title> Create course </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">

</head>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Создать курс</legend>
            {{ form|crispy }}
            <!--    {{ form.subject|as_crispy_field }}  -->
            <!--    {{ form.image|as_crispy_field }}    -->
            <!--    {{ form.course_name|as_crispy_field }}  -->
            <!--    {{ form.description|as_crispy_field }}  -->
            <!--    {{ form.duration|as_crispy_field }} -->
            <!--    {{ form.start_time|as_crispy_field }}   -->
            <!--    {{ form.end_time|as_crispy_field }} -->
            <!--    {{ form.lesson_type|as_crispy_field }}  -->
            <!--    {{ form.lesson_url|as_crispy_field }}   -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-success btn1" type="submit">Создать</button>
        </div>
    </form>
</div>
{% endblock content %}