{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Course Registration
{% endblock %}
{% block content %}
<link href="{% static 'main/css/main.css' %}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
<main class="main">
    <section id="hero" class="hero">
        <div class="container-fluid row"
             style="margin-right: 20px; margin-left: 20px; justify-content: flex-start; align-items: center; flex-direction: row;">
            <div class="col-12" style="height: 30px;"></div>
            <div class="col-1"></div>
            <div class="col-10" style="justify-content: flex-end;">
                <div class="title v102_58">Мои курсы</div>
                <div class="container v102_57 d-flex row"
                     style="border-radius: 40px; margin-right: 0px; margin-left: 0px; align-items: center;">
                    <div class="img_cpp col-lg-3 col-md-12 d-flex justify-content-center mt-3">
                        <img class="v102_59"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png"
                             alt="c++">
                    </div>
                    <div class="col-lg-8 col-md-12 py-3">
                        <div class="mx-auto" style="align-items: center;">
                            <p class="v102_60">C++</p>
                        </div>
                        <div class="row d-flex-inline">
                            <div class="col-lg-3">
                                <div class="v102_63 col-9 mx-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-box" viewBox="0 0 16 16">
                                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                    </svg>
                                    Arrays, References,Pointers
                                </div>
                            </div>
                            <div class="row d-flex-inline">
                                <div class="v102_63 col-10 mx-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-alarm-fill" viewBox="0 0 16 16">
                                        <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
                                    </svg>
                                    50 min
                                </div>
                            </div>
                            <div class="row d-flex-inline">
                                <div class="v102_63 col-10 mx-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-calendar3" viewBox="0 0 16 16">
                                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
                                    20 september 2021, 16:00
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a href="{% url 'create_course' %}" style="text-decoration: none;">
                        <div class="v102_70 col-lg-3 col-md-8 p-3 mb-3" style="float: right">
                            Добавить курсы
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="{% url 'main' %}" class="logo d-flex align-items-center">
                        <span>Studentor</span>
                    </a>
                    <p>Studentor – платформа , которая имеет правильное менторства для учебы от разных точек
                        мира с доступной ценой, где каждый обменивает знания на бонусы от наших партнеров.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/studentor.kz/?hl=ru" class="instagram"><i
                                class="bi bi-instagram bx bxl-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Полезные ссылки</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'main' %}">Главная</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#about">О нас</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#features">Возможности Studentor</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'create' %}">Задать Вопрос</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Быть Ментором</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Наши контакты</h4>
                    <p>
                        <strong>Google Email:</strong> studentor.kz@gmail.com<br>
                        <strong>Mail Email:</strong> studentor.kz@mail.ru<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Studentor</span></strong>
        </div>
    </div>
</footer>
<{% endblock %}