{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Mentor Dashboard
{% endblock %}
{% block content %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" style="padding-bottom: 0px;">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Choose date</h2>
                <form method="POST">

                    <div class="form-outline datepicker">
                        <input type="text" class="form-control" id="exampleDatepicker1">
                        <label for="exampleDatepicker1" class="form-label">Example label</label>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2" style="background-color: rgba(73,84,236,1);" type="submit"
                                onclick=""><a style="text-decoration: none; color: white;"
                                              href="create_course1.html">Submit</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ======= Footer ======= -->

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="{% static 'main/js/global.js'%}"></script>
<script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'main/vendor/aos/aos.js'%}"></script>
<script src="{% static 'main/vendor/php-email-form/validate.js'%}"></script>
<script src="{% static 'main/vendor/swiper/swiper-bundle.min.js'%}"></script>
<script src="{% static 'main/vendor/purecounter/purecounter.js'%}"></script>
<script src="{% static 'main/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'main/vendor/glightbox/js/glightbox.min.js'%}"></script>

<!-- Template Main JS File -->
<script src="{% static 'main/js/main.js'%}"></script>
{% endblock %}