<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">

    <meta content="" name="keywords">
    {% load static %}
    <link href="{% static 'main/img/logoStud.jpeg' %}" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/vendor/bootstrap/css/bootstrap-grid.rtl.css' %}">
    <!-- <link rel="stylesheet" href="ven"> -->
    <!-- Template Main CSS File -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-grid.rtl.css">
    <title>Mentor Dashboard</title>
</head>

<body>
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{% url 'main' %}" class="logo d-flex align-items-center">
                <span>Studentor</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="{% url 'main' %}">Главная</a></li>
                    <!--<li><a class="nav-link scrollto" href="{% url 'about' %}">О нас</a></li>-->
                    <li><a class="nav-link scrollto" href="#about">О нас</a></li>
                    <!--<li><a class="nav-link scrollto" href="{% url 'celebrity' %}">StudCoins</a></li>-->
                    <li><a class="nav-link scrollto" href="#features">StudCoins</a></li>
                    <li><a class="nav-link scrollto" href="#team">Наши спонсоры</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'blog-home' %}">FAQ</a></li>
                    <!--<li><a class="getstarted scrollto" href="{% url 'login' %}">Войти</a></li>-->
                    <ul>
                        <li role="presentation" class="dropdown">
                            <!-- {% if request.user == request.user %}        -->
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">yerkebulanice<img class="rounded-circle"
                                    src="{% static 'main/img/avatar.png'%}" width="28" height="28" alt="profile"><span
                                    class="caret"></span>
                            </a>
                            <!-- {%endif%} -->
                            <!-- {% if request.user == true %} -->
                            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                               aria-expanded="false">{{request.user}}<img class="rounded-circle"
                                                                          src="https://pics.freeicons.io/uploads/icons/png/19339625881548233621-512.png"
                                                                          width="30" height="30" alt="profile"><span
                                    class="caret"></span>
                            </a> -->
                            <!-- {%endif%} -->
                            <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                                <a class="nav-link" href="{% url 'signin' %}">Войти</a>
                                <!-- {% if request.user == user and user.is_superuser %} -->
                                <a class="nav-link" href="{% url 'admin' %}">Админ</a>
                                <!-- {%endif%} -->

                            </ul>
                        </li>
                    </ul>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <main class="main">
        <section id="hero" class="hero d-flex align-items-center" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1>Создай свои курсы и зарабатывай с нами</h1>
                        <h2></h2>
                        <br>
                        <br>
                        <br>
                        <div>
                            <div class="text-center text-lg-start">
                                <a href="{% url 'mentor_auth' %}"
                                    class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                                    style="padding-right: 80px; padding-left: 80px; padding-top: 30px; padding-bottom: 30px;">
                                    <span style="font-size: 26px;">Создать курс</span>
                                    <!-- <i class="bi bi-arrow-right"></i> -->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hero-img">
                        <!-- {% load static %} -->
                        <img src="{% static 'main/img/v114_44.png'%}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="hero" class="hero d-flex align-items-center">
            <div class="v233_36"><span class="v114_50">Актуальные знания от признанных менторов рынка для новичков и
                    студентов.</span>
                <div class="v221_45">
                    <div class="v221_42"><span class="v114_51">127</span><span class="v114_54">проведенных уроков</span>
                        <div class="name"></div>
                    </div>
                    <div class="v221_43"><span class="v114_53">103</span><span class="v114_55">менторов</span>
                        <div class="name"></div>
                    </div>
                    <div class="v221_44"><span class="v114_52">1600</span><span class="v114_56">студентов</span>
                        <div class="name"></div>
                    </div>
                </div>
                <div class="v237_39"><span class="v116_58">Для создания курса сперва вам необходимо пройти полную
                        регистрацию на нашей платформе</span></div>
                <a href="create_course1.html">
                    <div class="v116_63 justify-content-center"><span class="v116_65"
                            style="font-size: 24px;">Поехали!</span></div>
                </a>
            </div>
        </section>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="{% url 'main' %}" class="logo d-flex align-items-center">
                            <span>Studentor</span>
                        </a>
                        <p>Studentor – платформа , которая имеет правильное менторства для учебы от разных точек
                            мира с доступной ценой, где каждый обменивает знания на бонусы от наших партнеров.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/studentor.kz/?hl=ru" class="instagram"><i
                                    class="bi bi-instagram bx bxl-instagram"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Полезные ссылки</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'main' %}">Главная</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#about">О нас</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#features">Возможности Studentor</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'create' %}">Задать Вопрос</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Быть Ментором</a></li>
                        </ul>
                    </div>


                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Наши контакты</h4>
                        <p>
                            <strong>Google Email:</strong> studentor.kz@gmail.com<br>
                            <strong>Mail Email:</strong> studentor.kz@mail.ru<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Studentor</span></strong>
            </div>
        </div>
    </footer>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
    <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'main/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'main/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'main/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'main/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'main/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'main/vendor/glightbox/js/glightbox.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>