{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link href="{% static 'css/blog/create.css' %}" rel="stylesheet">
<div class="marginer" >

</div>
<div class="content-section container bg-blue w-75 create-form" >
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-4 form-name">Задайте Вопрос!</legend>
            {{ form|crispy }}
        </fieldset>
        <div class=" mt-3">
            <button class="btn q-btn" type="submit" style="width: 100%">Подтвердить</button>
        </div>
    </form>
</div>
{% endblock content %}