:root {
    font-size: calc(10px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}

.dashboard_nav, dash_box {
    margin: auto;
    justify-content: center;
}

.dashboard_nav button {
    margin: 0.55em 1.5em;
    background-color: white;
    border-radius: 0;
    border-color: transparent;
    line-height: 2em;
    padding: 0.5em;
    min-width: 10em;
}

.dashboard_nav button:hover, dashboard_nav button:active {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 1em;
}
.dashboard_nav_active {
    border-style: solid;
    border-width: 2px;
    border-color: black!important;
    border-radius: 1em!important;
}
.search-bar button, input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
}

.search-bar {
    display: flex;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar input {
    width: 100%;
}

.search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
}

.search-bar input {
    background: #fff;
    border-radius: 1.5em 0 0 1.5em;
    border-right: 0 black;
    transform: scale(1);
}

.search-btn {
    background: white;
    color: black;
    padding: 0.55em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.search-btn {
    background: white;
    border-radius: 0 1.5em 1.5em 0;
    border-left: 0 black;
    transform: scale(1);
}

@media only screen and (max-width: 680px) {
    .dashboard_nav button {
        margin: 0.55em 0.5em;
        min-width: auto;
        font-size: medium;
        line-height: unset;
    }
}